{{#contentFor 'pageStyles'}}
{{/contentFor}}

<div class="session-content">
    <div class="card card-block form-layout">
        <form role="form" action="extra-signin.html" id="validate">
            <div class="text-xs-left m-b-3">
                <img src="images/logo-icon.png" height="80" alt="" class="m-b-1"/>
                <h5>
                    Reset password
                </h5>
                <p class="text-muted">
                    Enter your email and we'll send you instructions on how to reset your password.
                </p>
            </div>
            <fieldset class="form-group">
                <label for="password">
                    Your email address
                </label>
                <input type="email" class="form-control form-control-lg" id="password" placeholder="email address"
                       autofocus required/>
            </fieldset>
            <button class="btn btn-primary btn-block btn-lg" type="submit">
                Reset password
            </button>
        </form>
    </div>
</div>
<footer class="text-xs-center p-y-1">
    <p>
        <a href="extra-signin.html">
            Log in
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="extra-signup.html">
            Create an account
        </a>
    </p>
</footer>

{{#contentFor 'pageScripts'}}
{{/contentFor}}
