{{#contentFor 'pageStyles'}}
    <link rel="stylesheet" href="{{level}}vendor/bower-jvectormap/jquery-jvectormap-1.2.2.css"/>
{{/contentFor}}

<div class="main-content">
    <div class="content-view">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span id="adminCount">0</span>
                    </h5>
                    <div class="small text-overflow">
                        Administradores
                    </div>
                    <div class="small text-overflow">
                        Activos
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span id="userCount">0</span>
                    </h5>
                    <div class="small text-overflow">
                        Usuarios
                    </div>
                    <div class="small text-overflow">
                        Activos
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span id="connCount">0</span>
                    </h5>
                    <div class="small text-overflow">
                        Dispositivos
                    </div>
                    <div class="small text-overflow">
                        Activos
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span id="murmurCount">0</span>
                    </h5>
                    <div class="small text-overflow">
                        Soplos
                    </div>
                    <div class="small text-overflow">
                        Publicos
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span id="unmurmurCount">0</span>
                    </h5>
                    <div class="small text-overflow">
                        Soplos
                    </div>
                    <div class="small text-overflow">
                        Pendientes
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div class="card card-block">
                    <h5 class="m-b-0 v-align-middle text-overflow">
                        <span id="clientCount">0</span>
                    </h5>
                    <div class="small text-overflow">
                        Clientes
                    </div>
                    <div class="small text-overflow">
                        Registrados
                    </div>
                </div>
            </div>
        </div>
        <h6>Recursos recomendados</h6>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-block p-b-0">
                    <h6><b>Servidor</b></h6><br>
                    <ul class="list-unstyled m-x-n m-b-0">
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        45,677
                      </span>
                            Accelaration
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        234,456
                      </span>
                            Braking
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        43,554
                      </span>
                            Cornering
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        223,545
                      </span>
                            Mixing
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-block p-b-0">
                    <h6><b>Software</b></h6><br>
                    <ul class="list-unstyled m-x-n m-b-0">
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        45,677
                      </span>
                            Accelaration
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        234,456
                      </span>
                            Braking
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        43,554
                      </span>
                            Cornering
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        223,545
                      </span>
                            Mixing
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-block p-b-0">
                    <h6><b>Base de datos</b></h6><br>
                    <ul class="list-unstyled m-x-n m-b-0">
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        45,677
                      </span>
                            Accelaration
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        234,456
                      </span>
                            Braking
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        43,554
                      </span>
                            Cornering
                        </li>
                        <li class="b-t p-a-1">
                      <span class="pull-right">
                        223,545
                      </span>
                            Mixing
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h6>Repositorios de codigo fuente</h6>
        <ul class="list-group m-b-1">
            <li class="list-group-item notification-bar-success">
                <div href="#" class="notification-bar-icon">
                    <div><i></i></div>
                </div>
                <div class="notification-bar-details">
                    <a href="https://github.com/AlejoJamC/Blitz-frontend" class="notification-bar-title"
                       target="_blank">
                        Blitz-frontend
                    </a>
                    <span>
                    Plataforma web que proporciona la interfaz grafica de usuarios y adminsitradores.
                  </span>
                </div>
            </li>
        </ul>
        <ul class="list-group m-b-1">
            <li class="list-group-item notification-bar-success">
                <div href="#" class="notification-bar-icon">
                    <div><i></i></div>
                </div>
                <div class="notification-bar-details">
                    <a href="https://github.com/AlejoJamC/Blitz-server" class="notification-bar-title"
                       target="_blank">
                        Blitz-server
                    </a>
                    <span>
                    Servicio web Restful que proporciona la logica de programacion detras de la interfaz grafica y los dispositivos electronicos.
                  </span>
                </div>
            </li>
        </ul>
        <ul class="list-group m-b-1">
            <li class="list-group-item notification-bar-success">
                <div href="#" class="notification-bar-icon">
                    <div><i></i></div>
                </div>
                <div class="notification-bar-details">
                    <a href="https://github.com/AlejoJamC/Blitz-arduino" class="notification-bar-title"
                       target="_blank">
                        Blitz-arduino
                    </a>
                    <span>
                    Codigo y utilizadades creadas para operar el dispositivo electronico con arduino.
                  </span>
                </div>
            </li>
        </ul>
    </div>

    {{>dashboard/footer}}

</div>

{{#contentFor 'pageScripts'}}
    <script src="{{level}}scripts/main.js"></script>

    <script src="{{level}}js/adminindex.js"></script>
{{/contentFor}}
