<footer class="footer">
    <div class="container">
        <div class="footer__main">
            <div class="row">
                <div class="col-md-6 col-sm-4">
                    <div class="footer-section">
                        <div class="ui-decor-1 bg-primary"></div>
                        <a class="footer__logo" href="/"><img class="img-responsive" height="48" width="48"
                                                              src="{{level}}img/logo.jpg"
                                                              alt="Logo"/></a>
                        <div class="footer__info">Calle 38 # 35 - 53 tercer piso
                            <br> info@fundacionmeis.com
                            <br> (+57) 6340022
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <section class="footer-section footer-section_list">
                        <h3 class="footer-section__title">company</h3>
                        <ul class="footer-list list-unstyled">
                            <li class="footer-list__item"><a class="footer-list__link" href="/">Inicio</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="/about">Acerca de Blitz</a>
                            </li>
                            <li class="footer-list__item"><a class="footer-list__link" href="/contact">Contacto</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-4">
                    <section class="footer-section footer-section_form">
                        <h3 class="footer-section__title">Noticias</h3>
                        <div class="footer-form__info">Si estas interesado en saber nuestras ultimas noticias registrate
                            aquí:
                        </div>
                        <form class="footer-form">
                            <input class="footer-form__input" type="email" placeholder="Email"/>
                            <button class="footer-form__btn border-b_prim text-primary_h"><i
                                    class="icon fa fa-long-arrow-right"></i></button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="copyright">Blitz project (c) {{currentYear}}. All Rights Reserved</div>
            </div>
        </div>
    </div>
</footer>
<!-- .footer-->