<!-- Start Switcher-->
<div class="switcher-wrapper">
    <div class="demo_changer">
        <div class="demo-icon text-primary"><i class="fa fa-cog fa-spin fa-2x"></i></div>
        <div class="form_holder">
            <div class="predefined_styles">
                <div class="skin-theme-switcher">
                    <h4>Color</h4>
                    <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color1"
                       style="background-color:#e0e242"></a>
                    <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color2"
                       style="background-color:#FFAC3A"></a>
                    <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color3"
                       style="background-color:#28af0f"></a>
                    <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color4"
                       style="background-color:#e425e9"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end switcher-->