<!doctype html>
<html lang="en">

{{>auth/head}}

<body>

<div class="app no-padding no-footer layout-static">
    <div class="session-panel">
        <div class="session">
            {{{body}}}
        </div>
    </div>
</div>

{{>auth/scripts}}

</body>
</html>