<!DOCTYPE html>
<html lang="zxx">

{{>content/head}}

<body class="loading">

{{>content/loader}}

<div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">
    {{>content/search}}

    {{>content/menu}}

    {{>content/header}}

    {{{body}}}

    {{>content/footer}}
</div>

{{>content/scripts}}

</body>
</html>