<!doctype html>
<html lang="en">

{{>dashboard/head}}

<body>

<div class="app">

    {{>dashboard/sidebar}}

    <div class="main-panel">

        {{>dashboard/header}}

        {{{body}}}

    </div>

    {{>dashboard/chat}}

</div>

{{>dashboard/scripts}}

</body>
</html>
