<!DOCTYPE html>
<html lang="zxx">

{{>landing/head}}

<body class="loading">

{{>landing/loader}}

<div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">
    {{>landing/search}}

    {{>landing/menu}}

    {{>landing/header}}

    {{{body}}}

    {{>landing/footer}}
</div>

{{>landing/scripts}}

</body>
</html>