<!-- bottom footer -->
<div class="content-footer">
    <nav class="footer-left">
        <ul class="nav">
            <li>
                <a href="javascript:;">
                    Blitz project (c) {{currentYear}}. All Rights Reserved
                </a>
            </li>
            <li class="hidden-md-down">
                <a href="/privacy">Privacidad</a>
            </li>
            <li class="hidden-md-down">
                <a href="/terms">Terminos y Condiciones</a>
            </li>
        </ul>
    </nav>
</div>
<!-- /bottom footer -->