<nav class="header navbar">
    <div class="header-inner">
        <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
            <!-- toggle offscreen menu -->
            <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                <i class="material-icons">menu</i>
            </a>
            <!-- /toggle offscreen menu -->
            <!-- logo -->
            <a class="brand-logo hidden-xs-down">
                <img src="{{level}}img/logo.jpg"  alt="logo"/>
            </a>
            <!-- /logo -->
        </div>
        <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="#">
            <span>Dashboard</span>
        </a>
    </div>
</nav>
