<!--sidebar panel-->
<div class="off-canvas-overlay" data-toggle="sidebar"></div>
<div class="sidebar-panel">
    <div class="brand">
        <!-- toggle offscreen menu -->
        <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen hidden-lg-up">
            <i class="material-icons">menu</i>
        </a>
        <!-- /toggle offscreen menu -->
        <!-- logo -->
        <a class="brand-logo">
            <img class="expanding-hidden" src="{{level}}img/logo.jpg" alt=""/>
        </a>
        <!-- /logo -->
    </div>
    <div class="nav-profile dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <div class="user-image">
                <img src="{{level}}images/avatar.jpg" class="avatar img-circle" alt="user" title="user"/>
            </div>
            <div class="user-info expanding-hidden">
                {{userProfile.email}}
                <small class="bold">Administrador</small>
            </div>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/logout">Cerrar sesión</a>
        </div>
    </div>
    <!-- main navigation -->
    <nav>
        <p class="nav-title">CONTENIDO</p>
        <ul class="nav">
            <li>
                <a href="/dashboard">
                    <i class="material-icons text-primary">home</i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/murmurs">
                    <i class="material-icons text-primary">hearing</i>
                    <span>Soplos</span>
                </a>
            </li>
        </ul>
        <p class="nav-title">ADMINISTRACION</p>
        <ul class="nav">
            <li>
                <a href="/dashboard/users">
                    <i class="material-icons">face</i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a href="/dashboard/admins">
                    <i class="material-icons">account_circle</i>
                    <span>Administradores</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /main navigation -->
</div>
<!-- /sidebar panel -->