{{#contentFor 'pageStyles'}}
{{/contentFor}}

<main class="l-main-content">
    <div style="margin-top: 80px;" class="section-default b-isotope">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <ul class="b-isotope-filter b-isotope-filter_center list-inline">
                            <li class="current"><a href="" data-filter="*">Soplos Cardiacos Simulados</a><span class="b-isotope-filter__title">Soplos</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul id="murmurlist" class="b-isotope-grid b-isotope-grid_mod-a grid list-unstyled js-zoom-gallery">
        </ul>
    </div>
</main>

{{#contentFor 'pageScripts'}}
    <script src="{{level}}js/content.js"></script>
{{/contentFor}}