{{#contentFor 'pageStyles'}}
{{/contentFor}}

<main class="l-main-content">
    <div class="section-default b-isotope">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <ul class="b-isotope-filter b-isotope-filter_center list-inline">
                            <li class="current"><a href="" data-filter="*">all works</a><span class="b-isotope-filter__title">All Works</span></li>
                            <li><a href="" data-filter=".design">web design</a><span class="b-isotope-filter__title">Web Design</span></li>
                            <li><a href="" data-filter=".photography">photography</a><span class="b-isotope-filter__title">Photography</span></li>
                            <li><a href="" data-filter=".video">video</a><span class="b-isotope-filter__title">Video</span></li>
                            <li><a href="" data-filter=".illustration">illustration</a><span class="b-isotope-filter__title">Illustration</span></li>
                            <li><a href="" data-filter=".mobile">mobile apps</a><span class="b-isotope-filter__title">Mobile Apps</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="b-isotope-grid b-isotope-grid_mod-a grid list-unstyled js-zoom-gallery">
            <li class="grid-sizer"></li>
            <li class="b-isotope-grid__item grid-item design">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_1.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item photography">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_2.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item illustration mobile">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_3.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item photography">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_4.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item design mobile video">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_5.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item design">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_6.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item design photography">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_7.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item illustration video">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_8.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item mobile">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_9.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item illustration video">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_10.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item design">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_11.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
            <li class="b-isotope-grid__item grid-item illustration video">
                <a class="b-isotope-grid__inner" href="portfolio-details.html"><img src="assets/media/components/b-isotope/270x270_12.jpg" alt="foto" /><span class="b-isotope-grid__wrap-info"><span class="b-isotope-grid__info"><span class="b-isotope-grid__title">smart girl</span><span class="b-isotope-grid__categorie">Photography</span></span>
                            </span>
                </a>
            </li>
        </ul>
        <!-- end .b-isotope-->
        <div class="text-center"><a class="btn btn-type-1 btn-lg" href="portfolio.html"><span class="btn-type-1__inner">load more items</span><i class="icon fa fa-long-arrow-right"></i></a></div>
    </div>
    <div class="section-social-net text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block">Stay Connected With Us !</h2>
                    <ul class="section-social-net__list list-inline">
                        <li class="section-social-net__item"><a class="section-social-net__link" href="facebook.com">facebook</a></li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="twitter.com">twitter</a></li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="plus.google.com">google +</a></li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="pinterest.com">pinterest</a></li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="behance.com">behance</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end .section-social-net-->
</main>

{{#contentFor 'pageScripts'}}
{{/contentFor}}