.ish-sc-button:hover.ish-bg-blitz-1 {
    background-color: #f5b043
}

.ish-txt-blitz-1 {
    color: #c87f0a
}

.ish-bg-blitz-1 {
    background-color: #c87f0a
}

.ng-active>div[ng-message] {
    color: red;
}

.ng-invalid {
    border-color: red;
}

.dark-body{
    background-color: #2D3E50; !important;
}