<footer id="colophon" class="site-footer">
    <div class="ish-decor-container">
        <div class="ish-decor-top ish-theme-rotate ish-bg-color2"></div>
    </div>
    <div class="ish-container-fluid ish-bg-color2">
        <div class="ish-container-inner">
            <div class="ish-row">

                <div class="ish-footer ish-col-xs-offset-1 ish-col-xs-10">
                    <div class="ish-widget-element">
                        <a href="/"><img src="{{level}}img/logo.svg" class="ish-logo-widget" alt="QUSQ logo"/></a>
                    </div>

                    <div class="ish-widget-element">
                        <div class="ish-tagline-widget ish-txt-color3">Unique Portfolio</div>
                    </div>
                    <div class="ish-social-box ish-widget-element ish-row ish-center-xs">
                            <span class="ish-col-xs-4 ish-col-sm-1 ish-twitter"><a href="#"><i
                                    class="ish-icon-twitter"></i></a></span>
                        <span class="ish-col-xs-4 ish-col-sm-1 ish-behance"><a href="#"><i
                                class="ish-icon-behance"></i></a></span>
                        <span class="ish-col-xs-4 ish-col-sm-1 ish-dribbble"><a href="#"><i
                                class="ish-icon-dribbble"></i></a></span>
                        <span class="ish-col-xs-4 ish-col-sm-1 ish-instagram"><a href="#"><i
                                class="ish-icon-instagram"></i></a></span>
                        <span class="ish-col-xs-4 ish-col-sm-1 ish-gplus"><a href="#"><i class="ish-icon-gplus"></i></a></span>
                        <span class="ish-col-xs-4 ish-col-sm-1 ish-facebook"><a href="#"><i
                                class="ish-icon-facebook"></i></a></span>
                    </div>
                    <div class="site-info ish-legals ish-widget-element">
                        <a href="#" class="ish-underline">Qusq</a> Theme
                        <span class="ish-separator">~</span>
                        Proudly powered by <a href="https://wordpress.org/" target="_blank" class="ish-underline">WordPress</a>
                        <span class="ish-separator">~</span>
                        Created by <a href="http://ishyoboy.com" target="_blank"
                                      class="ish-underline">IshYoBoy.com</a>
                    </div>
                </div>
                <div class="ish-back-to-top ish-widget-element ish-col-xs-1">
                    <a href="#page" class="ish-txt-color3"><span>Back to Top</span><i
                            class="ish-icon-right-small"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>