<footer id="colophon" class="site-footer">
    <div class="ish-decor-container">
        <div class="ish-decor-top ish-theme-rotate ish-bg-color2"></div>
    </div>
    <div class="ish-container-fluid ish-bg-color2">
        <div class="ish-container-inner">
            <div class="ish-row">

                <div class="ish-footer ish-col-xs-offset-1 ish-col-xs-10">
                    <div class="ish-widget-element">
                        <a href="/"><img src="{{level}}img/logo.jpg" height="55" width="55" class="ish-logo-widget"
                                         alt="Blitz project logo"/></a>
                    </div>

                    <div class="ish-widget-element">
                        <div class="ish-tagline-widget ish-txt-color3">Proyecto Blitz</div>
                    </div>
                    <div class="ish-social-box ish-widget-element ish-row ish-center-xs">
                            <span class="ish-col-xs-4 ish-col-sm-1 ish-twitter">
                                <a href="https://twitter.com/AlejoJamC" target="_blank">
                                    <i class="ish-icon-twitter"></i></a></span>
                        <span class="ish-col-xs-4 ish-col-sm-1 ish-github">
                            <a href="https://github.com/AlejoJamC" target="_blank"><i
                                class="ish-icon-github-squared"></i></a></span>
                    </div>
                    <div class="site-info ish-legals ish-widget-element">
                        Desarrollador por Alejandro Mantilla <a href="http://alejojamc.com" target="_blank"
                                                                class="ish-underline">@AlejoJamC</a>
                    </div>
                </div>
                <div class="ish-back-to-top ish-widget-element ish-col-xs-1">
                    <a href="#page" class="ish-txt-color3"><span>Ir arriba</span><i
                            class="ish-icon-right-small"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>