<header id="masthead" class="site-header">
    <div class="ish-container-fluid">
        <div class="ish-container-inner">
            <div class="ish-row">
                <div class="ish-header">
                    <!-- Main Logo & Tagline -->
                    <div class="ish-logo-container ish-txt-color3">
                        <a href=""><span class="ish-logo-box"><span class="ish-logo-middle"><img
                                src="{{level}}img/logo_white.png" height="55" width="55" class="ish-logo"
                                alt="Blitz project logo"/></span></span></a>
                        <span class="ish-theme-tagline ish-vertical">Proyecto Blitz</span>
                    </div>

                    <!-- Menu open Button -->
                    <div class="ish-menu-container ish-txt-color3">
                        <a href="#"><span class="ish-icon-nav"><i class="ish-icon-menu"></i></span><span
                                class="ish-menu-desc ish-vertical">Menu</span></a>
                    </div>
                </div>

                {{{block 'headerText'}}}

            </div>
            {{>main/sidebar}}
        </div>
    </div>
    <div class="ish-decor-container">
        <div class="ish-decor-bottom ish-theme-rotate"></div>
    </div>
</header>