<div class="ish-container-fluid ish-pagination-container">
    <div class="ish-container-inner">

        <nav class="ish-pagination">
            <h2 class="screen-reader-text">Portfolio navigation</h2>

            <div class="ish-nav-links">
                <a class="ish-prev ish-page-numbers ish-icon-left-small" href="index.html">Previous
                    page</a>
                <a class="ish-next ish-page-numbers ish-icon-right-small" href="portfolio-gallery.html">Next
                    page</a>
            </div>
        </nav>
    </div>
</div>