<div class="ish-navigation">
    <!-- Menu Decoration -->
    <div class="ish-nav-bg ish-theme-rotate"></div>
    <!-- Close Button -->
    <a href="#" class="ish-nav-close"><i class="ish-icon-cancel-1"></i><span>Close</span></a>
    <div class="ish-nav-container-bg">
        <div class="ish-nav-container">
            <!-- Menu: Logo & Tagline -->
            <div class="ish-widget-element">
                <a href="/"><img src="{{level}}img/logo.svg" class="ish-logo-widget"
                                 alt="QUSQ logo"/></a>
                <div class="ish-tagline-widget ish-txt-color1">Unique Portfolio</div>
            </div>
            <!-- Menu: Main Navigation -->
            <nav id="site-navigation" class="main-navigation ish-widget-element">
                <ul>
                    <li class="ish-active-item"><a href="/"><span>Home</span></a></li>
                    <li class="ish-has-submenu">
                        <a href="portfolio.html"><span>Portfolio</span></a>
                        <ul>
                            <li><a href="portfolio.html"><span>Detail Links Portfolio</span></a></li>
                            <li>
                                <a href="portfolio-gallery.html"><span>Pop-up Gallery Portfolio</span></a>
                            </li>
                            <li><a href="portfolio-square.html"><span>Squared Portfolio</span></a></li>
                            <li><a href="portfolio-detail-default.html"><span>Centered Detail</span></a>
                            </li>
                            <li><a href="portfolio-detail-left.html"><span>Left Detail</span></a></li>
                            <li><a href="portfolio-detail-right.html"><span>Right Detail</span></a></li>
                        </ul>
                    </li>
                    <li class="ish-has-submenu">
                        <a href="blog.html"><span>Blog</span></a>
                        <ul>
                            <li><a href="blog.html"><span>2 Columns Layout</span></a></li>
                            <li><a href="blog-classic.html"><span>Classic Layout</span></a></li>
                            <li><a href="blog-detail.html"><span>Post Detail</span></a></li>
                        </ul>
                    </li>
                    <li class="ish-has-submenu">
                        <a href="#"><span>Sample Pages</span></a>
                        <ul>
                            <li><a href="shortcodes.html"><span>Typography &amp; Shortcodes</span></a>
                            </li>
                            <li><a href="about.html"><span>About Me</span></a></li>
                            <li><a href="team.html"><span>Our Team</span></a></li>
                            <li><a href="search-results.html"><span>Search Results</span></a></li>
                            <li><a href="404.html"><span>404 - Not Found</span></a></li>
                        </ul>
                    </li>
                    <li class="ish-has-submenu">
                        <a href="contact.html"><span>Contact</span></a>
                        <ul>
                            <li><a href="contact.html"><span>Google Map Contact</span></a></li>
                            <li><a href="contact-alt.html"><span>No Map Contact</span></a></li>
                        </ul>
                    </li>
                    <li><a href="http://ishyoboy.com/" target="_blank"><span>Buy Now</span></a></li>
                </ul>
            </nav>

            <!-- Menu: Search Form -->
            <form role="search" method="get" id="ish-search-nav-form"
                  class="ish-search-form ish-widget-element" action="search-results.html">
                <div>
                    <p><input type="text" value="" name="ish-search-nav" id="ish-search-nav"
                              class="ish-search-nav" placeholder="Search"></p>
                    <button type="submit" id="ish-search-nav-submit" class="ish-search-submit"><i
                            class="ish-icon-search"></i></button>
                </div>
            </form>
            <!-- Menu: Social icons -->
            <div class="ish-social-box ish-widget-element ish-row">
                <span class="ish-col-xs-4 ish-twitter"><a href="#"><i class="ish-icon-twitter"></i></a></span>
                <span class="ish-col-xs-4 ish-behance"><a href="#"><i class="ish-icon-behance"></i></a></span>
                <span class="ish-col-xs-4 ish-dribbble"><a href="#"><i
                        class="ish-icon-dribbble"></i></a></span>
                <span class="ish-col-xs-4 ish-instagram"><a href="#"><i class="ish-icon-instagram"></i></a></span>
                <span class="ish-col-xs-4 ish-gplus"><a href="#"><i
                        class="ish-icon-gplus"></i></a></span>
                <span class="ish-col-xs-4 ish-facebook"><a href="#"><i
                        class="ish-icon-facebook"></i></a></span>
            </div>
            <!-- Menu: About Template -->
            <div class="ish-widget-element">
                <p>Another amazing template by <a href="http://ishyoboy.com" target="_blank"
                                                  class="ish-underline">IshYoBoy.com</a></p>
            </div>
        </div>
    </div> <!-- .ish-nav-container-bg-->
</div>