{{#contentFor 'pageStyles'}}
{{/contentFor}}


<main>
    <section style="margin-top: 80px;" class="section-first section-first_type-3">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-first__carousel owl-carousel owl-theme enable-owl-carousel"
                         data-pagination="true" data-navigation="false" data-single-item="true" data-auto-play="7000"
                         data-transition-style="fade" data-main-text-animation="true" data-after-init-delay="3000"
                         data-after-move-delay="1000" data-stop-on-hover="true">
                        <div class="section-first__carousel-item">
                            <div class="section-first__img-group">
                                <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                                   href="assets/media/components/section-first/458x380_1.jpg">
                                    <figure class="tilter__figure"><img class="img-responsive"
                                                                        src="assets/media/components/section-first/458x380_1.jpg"
                                                                        alt="foto"/></figure>
                                </a>
                            </div>
                        </div>
                        <div class="section-first__carousel-item">
                            <div class="section-first__img-group">
                                <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                                   href="assets/media/components/section-first/458x380_1.jpg">
                                    <figure class="tilter__figure"><img class="img-responsive"
                                                                        src="assets/media/components/section-first/458x380_1.jpg"
                                                                        alt="foto"/></figure>
                                </a>
                            </div>
                        </div>
                        <div class="section-first__carousel-item">
                            <div class="section-first__img-group">
                                <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                                   href="assets/media/components/section-first/458x380_1.jpg">
                                    <figure class="tilter__figure"><img class="img-responsive"
                                                                        src="assets/media/components/section-first/458x380_1.jpg"
                                                                        alt="foto"/></figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="section-first__inner">
                        <div class="ui-decor-1"></div>
                        <h2 class="ui-title-inner-2">We Are The United Creative</h2>
                        <div class="section-first__subtitle">Working-Hard to produce the contents that offers rich
                            experience.
                        </div>
                        <p>Corem ipsum dolor sit amet consecter adipsicing elit sed uslm tempor incididunt magna aliqua
                            ut dolor enim minim beniaps quis nostru alexercitation ulam laborisa sed bceaoan lorem ipsum
                            minium euismode.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="section-first__title-link"><a class="btn btn-default" href="portfolio.html">history<i
                                        class="icon fa fa-long-arrow-right"></i></a></h3>
                                <p>Sit amet rem ipsum dolor amet lorem ipsum dolor amet consectetur adipisic elit do
                                    eiusmod tempor ncididuntut labore eturs dolore magna</p>
                            </div>
                            <div class="col-md-6">
                                <h3 class="section-first__title-link"><a class="btn btn-default" href="portfolio.html">the
                                    mission<i class="icon fa fa-long-arrow-right"></i></a></h3>
                                <p>Sit amet rem ipsum dolor amet lorem ipsum dolor amet consectetur adipisic elit do
                                    eiusmod tempor ncididuntut labore eturs dolore magna</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end .section-first-->
    <section class="section-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-bg ui-title-bg_sm">united <br>statistics</h2>
                    <ul class="b-progress-list b-progress-list_mod-a list-unstyled">
                        <li class="b-progress-list__item">
                            <div class="b-progress-list__inner"><span class="b-progress-list__percent js-chart"
                                                                      data-percent="230"><span
                                    class="js-percent"></span></span><span class="b-progress-list__name">Satisfied Clients</span>
                            </div>
                        </li>
                        <li class="b-progress-list__item">
                            <div class="b-progress-list__inner"><span class="b-progress-list__percent js-chart"
                                                                      data-percent="407"><span
                                    class="js-percent"></span></span><span
                                    class="b-progress-list__name">Awards Won</span></div>
                        </li>
                        <li class="b-progress-list__item">
                            <div class="b-progress-list__inner"><span class="b-progress-list__percent js-chart"
                                                                      data-percent="637"><span
                                    class="js-percent"></span></span><span class="b-progress-list__name">Projectes Delivered</span>
                            </div>
                        </li>
                        <li class="b-progress-list__item">
                            <div class="b-progress-list__inner"><span class="b-progress-list__percent js-chart"
                                                                      data-percent="10"><span class="js-percent"></span><span
                                    class="b-progress-list__percent_label">K+</span></span><span
                                    class="b-progress-list__name">Lines of Code</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-works">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block">Latest Works !</h2>
                    <div class="ui-subtitle-block">What
                        <br> We did
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-works__inner">
                        <ul class="section-works__nav list-unstyled">
                            <li class="active"><a href="#all" data-toggle="tab">all works</a></li>
                            <li><a href="#design" data-toggle="tab">web design</a></li>
                            <li><a href="#photography" data-toggle="tab">photography</a></li>
                            <li><a href="#video" data-toggle="tab">video</a></li>
                            <li><a href="#illustration" data-toggle="tab">illustration</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="all">
                                <h3 class="section-works__title-group">All Works</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_1.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">beo w. speakers</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="design">
                                <h3 class="section-works__title-group">Web Design</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_3.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">emma punching</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Web Design
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="photography">
                                <h3 class="section-works__title-group">Photography</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_3.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">emma punching</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Web Design
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_1.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">beo w. speakers</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="video">
                                <h3 class="section-works__title-group">Video</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_1.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">beo w. speakers</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="illustration">
                                <h3 class="section-works__title-group">Illustration</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_3.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">emma punching</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven quis
                                                nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Web Design
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                        </div>
                        <div class="text-right"><a class="btn btn-type-1" href="portfolio.html"><span
                                class="btn-type-1__inner">full portfolio</span><i
                                class="icon fa fa-long-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="b-info b-info_mrg-top">
        <div class="b-info__inner border-l_prim border-r_prim">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="b-info__title">We always Work-Hard to produce the contents which offers the rich
                            experiences for user.</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="b-info__link"><a class="b-info__btn text-primary_h popup-youtube"
                                                     href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i
                                class="icon pe-7s-play"></i>How We Work</a>
                            <div class="b-info__link-bg"><i class="icon pe-7s-video"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end .b-info-->
    <section class="section-default_pdn-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block">Our Professionals !</h2>
                    <div class="ui-subtitle-block">team
                        <br> members
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <section class="b-team b-team_rows">
                        <div class="b-team__media"><img class="img-responsive"
                                                        src="assets/media/components/b-team/300x280_1.jpg" alt="Foto"/>
                            <ul class="social-net list-inline">
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="behance.com"><i
                                        class="icon fa fa-behance"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="twitter.com"><i
                                        class="icon fa fa-twitter"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="plus.google.com"><i
                                        class="icon fa fa-google-plus"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="mail.com"><i
                                        class="icon fa fa-envelope"></i></a></li>
                            </ul>
                            <!-- end .social-list-->
                        </div>
                        <div class="b-team__header">
                            <h3 class="b-team__name">mark hamburg</h3>
                            <div class="b-team__category">Ceo &amp; Founder</div>
                        </div>
                    </section>
                    <!-- end .b-team-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <section class="b-team b-team_rows">
                        <div class="b-team__media"><img class="img-responsive"
                                                        src="assets/media/components/b-team/300x280_2.jpg" alt="Foto"/>
                            <ul class="social-net list-inline">
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="behance.com"><i
                                        class="icon fa fa-behance"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="twitter.com"><i
                                        class="icon fa fa-twitter"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="plus.google.com"><i
                                        class="icon fa fa-google-plus"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="mail.com"><i
                                        class="icon fa fa-envelope"></i></a></li>
                            </ul>
                            <!-- end .social-list-->
                        </div>
                        <div class="b-team__header">
                            <h3 class="b-team__name">sara anderson</h3>
                            <div class="b-team__category">Programmer</div>
                        </div>
                    </section>
                    <!-- end .b-team-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <section class="b-team b-team_rows">
                        <div class="b-team__media"><img class="img-responsive"
                                                        src="assets/media/components/b-team/300x280_4.jpg" alt="Foto"/>
                            <ul class="social-net list-inline">
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="behance.com"><i
                                        class="icon fa fa-behance"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="twitter.com"><i
                                        class="icon fa fa-twitter"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="plus.google.com"><i
                                        class="icon fa fa-google-plus"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="mail.com"><i
                                        class="icon fa fa-envelope"></i></a></li>
                            </ul>
                            <!-- end .social-list-->
                        </div>
                        <div class="b-team__header">
                            <h3 class="b-team__name">tommy jones</h3>
                            <div class="b-team__category">The Designer</div>
                        </div>
                    </section>
                    <!-- end .b-team-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <section class="b-team b-team_rows">
                        <div class="b-team__media"><img class="img-responsive"
                                                        src="assets/media/components/b-team/300x280_5.jpg" alt="Foto"/>
                            <ul class="social-net list-inline">
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="behance.com"><i
                                        class="icon fa fa-behance"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="twitter.com"><i
                                        class="icon fa fa-twitter"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="plus.google.com"><i
                                        class="icon fa fa-google-plus"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="mail.com"><i
                                        class="icon fa fa-envelope"></i></a></li>
                            </ul>
                            <!-- end .social-list-->
                        </div>
                        <div class="b-team__header">
                            <h3 class="b-team__name">Alastair conall</h3>
                            <div class="b-team__category">Marketing</div>
                        </div>
                    </section>
                    <!-- end .b-team-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <section class="b-team b-team_rows">
                        <div class="b-team__media"><img class="img-responsive"
                                                        src="assets/media/components/b-team/300x280_6.jpg" alt="Foto"/>
                            <ul class="social-net list-inline">
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="behance.com"><i
                                        class="icon fa fa-behance"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="twitter.com"><i
                                        class="icon fa fa-twitter"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="plus.google.com"><i
                                        class="icon fa fa-google-plus"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="mail.com"><i
                                        class="icon fa fa-envelope"></i></a></li>
                            </ul>
                            <!-- end .social-list-->
                        </div>
                        <div class="b-team__header">
                            <h3 class="b-team__name">Olivia harper</h3>
                            <div class="b-team__category">Programmer</div>
                        </div>
                    </section>
                    <!-- end .b-team-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <section class="b-team b-team_rows">
                        <div class="b-team__media"><img class="img-responsive"
                                                        src="assets/media/components/b-team/300x280_3.jpg" alt="Foto"/>
                            <ul class="social-net list-inline">
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="behance.com"><i
                                        class="icon fa fa-behance"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="twitter.com"><i
                                        class="icon fa fa-twitter"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                href="plus.google.com"><i
                                        class="icon fa fa-google-plus"></i></a></li>
                                <li class="social-net__item"><a class="social-net__link text-primary_h" href="mail.com"><i
                                        class="icon fa fa-envelope"></i></a></li>
                            </ul>
                            <!-- end .social-list-->
                        </div>
                        <div class="b-team__header">
                            <h3 class="b-team__name">tommy jones</h3>
                            <div class="b-team__category">The Designer</div>
                        </div>
                    </section>
                    <!-- end .b-team-->
                </div>
            </div>
        </div>
    </section>
    <div class="section-progress-bars">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="progress-block-group">
                        <div class="progress-block">
                            <div class="progress__title">web development</div>
                            <div class="progress progress-w-number bg-primary">
                                <div class="progress-bar" style="width: 75%"></div>
                                <span class="progress-bar__number">75%</span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">html 6 & css 4</div>
                            <div class="progress progress-w-number bg-primary">
                                <div class="progress-bar" style="width: 95%"></div>
                                <span class="progress-bar__number">95%</span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">adobe creative cloud</div>
                            <div class="progress progress-w-number bg-primary">
                                <div class="progress-bar" style="width: 50%"></div>
                                <span class="progress-bar__number">50%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="progress-block-group progress-block-group_right">
                        <div class="progress-block">
                            <div class="progress__title">photography</div>
                            <div class="progress progress-w-number progress_background">
                                <div class="progress-bar bg-primary" style="width: 80%"></div>
                                <span class="progress-bar__number">80%</span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">video production</div>
                            <div class="progress progress-w-number progress_background">
                                <div class="progress-bar bg-primary" style="width: 45%"></div>
                                <span class="progress-bar__number">45%</span>
                            </div>
                        </div>
                        <div class="progress-block">
                            <div class="progress__title">seo & marketing</div>
                            <div class="progress progress-w-number progress_background">
                                <div class="progress-bar bg-primary" style="width: 60%"></div>
                                <span class="progress-bar__number">60%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-default area-bg area-bg_dark area-bg_op_90 parallax"
         style="background-image: url(assets/media/content/bg/bg-1.jpg)">
        <div class="area-bg__inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="owl-carousel owl-theme owl-theme_pagin_act_prim enable-owl-carousel"
                             data-pagination="true" data-navigation="false" data-single-item="true"
                             data-auto-play="7000" data-transition-style="fade" data-main-text-animation="true"
                             data-after-init-delay="3000" data-after-move-delay="1000" data-stop-on-hover="true">
                            <div class="b-blockquote b-blockquote-1 b-blockquote-1_dark">
                                <blockquote>
                                    <cite class="b-blockquote__cite" title="Blockquote Title"><span
                                            class="b-blockquote__author">sam jones</span><span
                                            class="b-blockquote__category">Director</span></cite>
                                    <p>Corem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt
                                        aret dolore magna aliqua dolor quis nostru alexercitation ulamco laborisa tempor
                                        sed bceaoan lorem ipsum dolor comoda sit amet ipsum dolor consecteuter lorem
                                        dolor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt
                                        labore.</p>
                                </blockquote>
                            </div>
                            <!-- end .b-blockquote-->
                            <div class="b-blockquote b-blockquote-1 b-blockquote-1_dark">
                                <blockquote>
                                    <cite class="b-blockquote__cite" title="Blockquote Title"><span
                                            class="b-blockquote__author">Olivia harper</span><span
                                            class="b-blockquote__category">Director</span></cite>
                                    <p>Dolor sit amet consecter adipsicing elit sed usm tempor incididunt aret dolore
                                        magna aliqua dolor quis nostru alexercitation ulamco laborisa tempor sed bceaoan
                                        lorem ipsum dolor comoda sit amet ipsum dolor consecteuter lorem dolor sit amet
                                        consectetur adipisicing elit sed eiusmod tempor incididunt labore.</p>
                                </blockquote>
                            </div>
                            <!-- end .b-blockquote-->
                            <div class="b-blockquote b-blockquote-1 b-blockquote-1_dark">
                                <blockquote>
                                    <cite class="b-blockquote__cite" title="Blockquote Title"><span
                                            class="b-blockquote__author">sara anderson</span><span
                                            class="b-blockquote__category">Director</span></cite>
                                    <p>Sit amet consecter adipsicing elit sed usm tempor incididunt aret dolore magna
                                        aliqua dolor quis nostru alexercitation ulamco laborisa tempor sed bceaoan lorem
                                        ipsum dolor comoda sit amet ipsum dolor consecteuter lorem dolor sit amet
                                        consectetur adipisicing elit sed eiusmod tempor incididunt labore.</p>
                                </blockquote>
                            </div>
                            <!-- end .b-blockquote-->
                        </div>
                        <div class="text-center">
                            <div class="ui-decor-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="b-brands owl-carousel owl-theme enable-owl-carousel b-brands_bg-texture" data-min480="1"
                         data-min768="3" data-min992="5" data-min1200="5" data-pagination="false"
                         data-navigation="false" data-auto-play="4000" data-stop-on-hover="true">
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-1.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-2.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-3.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-4.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-5.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-1.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-2.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-3.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-4.png" alt="foto"/>
                        </div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-5.png" alt="foto"/>
                        </div>
                    </div>
                    <!-- end .b-brands-->
                </div>
            </div>
        </div>
    </div>
    <div class="section-social-net text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block">Stay Connected With Us !</h2>
                    <ul class="section-social-net__list list-inline">
                        <li class="section-social-net__item"><a class="section-social-net__link" href="facebook.com">facebook</a>
                        </li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="twitter.com">twitter</a>
                        </li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="plus.google.com">google
                            +</a></li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="pinterest.com">pinterest</a>
                        </li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="behance.com">behance</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end .section-social-net-->
</main>