{{#contentFor 'pageStyles'}}
{{/contentFor}}


<main>
    <section style="margin-top: 80px;" class="section-first section-first_type-3">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-first__carousel owl-carousel owl-theme enable-owl-carousel"
                         data-pagination="true" data-navigation="false" data-single-item="true" data-auto-play="7000"
                         data-transition-style="fade" data-main-text-animation="true" data-after-init-delay="3000"
                         data-after-move-delay="1000" data-stop-on-hover="true">
                        <div class="section-first__carousel-item">
                            <div class="section-first__img-group">
                                <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                                   href="img/finalizado.jpg">
                                    <figure class="tilter__figure"><img class="img-responsive"
                                                                        src="img/finalizado.jpg"
                                                                        alt="foto"/></figure>
                                </a>
                            </div>
                        </div>
                        <div class="section-first__carousel-item">
                            <div class="section-first__img-group">
                                <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                                   href="img/foncir.jpg">
                                    <figure class="tilter__figure"><img class="img-responsive"
                                                                        src="img/foncir.jpg"
                                                                        alt="foto"/></figure>
                                </a>
                            </div>
                        </div>
                        <div class="section-first__carousel-item">
                            <div class="section-first__img-group">
                                <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                                   href="img/despliegue.jpg">
                                    <figure class="tilter__figure"><img class="img-responsive"
                                                                        src="img/despliegue.jpg"
                                                                        alt="foto"/></figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="section-first__inner">
                        <div class="ui-decor-1"></div>
                        <h2 class="ui-title-inner-2">Resumen</h2>
                        <div class="section-first__subtitle">Proyecto Blitz.
                        </div>
                        <p>Ante la necesidad de disponibilidad de uno de los simuladores más versátiles y demandados en
                            técnicas de exploración física, el Entrenador de Evaluación Física Koken LM-084, este
                            producto es especial para el entrenamiento de auscultación cardíaca, una de sus principales
                            ventajas es poseer un diseño orientado a la portabilidad y facilidad en el uso. Sin embargo,
                            el proceso de aprendizaje se ve afectado ya que la empresa sacrifico un par de funciones
                            graficas e interpretativas en funcione de sus pilares de movilidad y facilidad de uso.</p>
                        <p>Atendiendo a estas necesidades se inicia el desarrollo de este prototipo como complemento
                            tecnológico para graficar los soplos cardiacos que en su diseño y desarrollo desea permitir
                            la asociación entre los sonidos y esquemas visuales registrados y pasara a ser el apoyo
                            adecuado para las prácticas y entrenamientos clásicos con información visual de las ondas
                            emitidas por el mismo.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="section-first__title-link"><a class="btn btn-default" href="portfolio.html">Objetivo<i
                                        class="icon fa fa-long-arrow-right"></i></a></h3>
                                <p>Integrar hardware y desarrollar software como complemento tecnológico piloto para el
                                    simulador 'Entrenador de Evaluación Física' Koken LM-084, que permita capturar,
                                    procesar y graficar los sonidos del corazón, facilitando el aprendizaje del
                                    procedimiento de auscultación. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>