{{#contentFor 'pageStyles'}}
{{/contentFor}}

<main class="l-main-content">
    <div class="map" id="map"></div>
    <div class="section-contact section-default text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="ui-description">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
                        tempor incididunt labore dolore magna enim veniam quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea consequat.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="b-contact"><i class="b-contact__icon pe-7s-global"></i>
                        <div class="b-contact__inner">
                            <div class="b-contact__name">address</div>
                            <div class="b-contact__info">38 Rose Merry Ave. FL 33038</div>
                        </div>
                    </div>
                    <!-- end .b-contact-->
                </div>
                <div class="col-sm-4">
                    <div class="b-contact"><i class="b-contact__icon pe-7s-call"></i>
                        <div class="b-contact__inner">
                            <div class="b-contact__name">phone</div>
                            <div class="b-contact__info">support@unitedagency.com</div>
                        </div>
                    </div>
                    <!-- end .b-contact-->
                </div>
                <div class="col-sm-4">
                    <div class="b-contact"><i class="b-contact__icon pe-7s-mail-open"></i>
                        <div class="b-contact__inner">
                            <div class="b-contact__name">email</div>
                            <div class="b-contact__info">(+01) 234 567 8900</div>
                        </div>
                    </div>
                    <!-- end .b-contact-->
                </div>
            </div>
        </div>
    </div>
    <section class="section-form-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="text-center">
                        <div class="ui-wrap-title-center">
                            <h2 class="ui-title-block">Send Us A !</h2>
                            <div class="ui-subtitle-block">message</div>
                        </div>
                        <p class="ui-description">Ipsum dolor sit amet consectetur adipisic elit ausmod tempor enimad
                            quis nostrud</p>
                    </div>
                    <div id="success"></div>
                    <form class="b-form-contacts" id="contactForm" action="#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" id="user-name" type="text" name="user-name"
                                       placeholder="Full Name" required="required"/>
                                <input class="form-control" id="user-phone" type="tel" name="user-phone"
                                       placeholder="Phone #"/>
                                <input class="form-control" id="user-email" type="email" name="user-email"
                                       placeholder="Email address"/>
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" id="user-message" rows="7" placeholder="Message Body"
                                          required="required"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-type-1"><span class="btn-type-1__inner">send message</span><i
                                        class="icon fa fa-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                    <!-- end .b-form-contact-->
                </div>
            </div>
        </div>
    </section>
    <div class="section-social-net text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block">Stay Connected With Us !</h2>
                    <ul class="section-social-net__list list-inline">
                        <li class="section-social-net__item"><a class="section-social-net__link" href="facebook.com">facebook</a>
                        </li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="twitter.com">twitter</a>
                        </li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="plus.google.com">google
                            +</a></li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="pinterest.com">pinterest</a>
                        </li>
                        <li class="section-social-net__item"><a class="section-social-net__link" href="behance.com">behance</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end .section-social-net-->
</main>
