{{#contentFor 'pageStyles'}}
{{/contentFor}}

<main class="l-main-content">
    <div style="margin-top: 80px;" class="section-contact section-default text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="ui-description">Para mayor información contactar vía email, estamos dispuestos a
                        solucionar cualquier inquietud.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="b-contact"><i class="b-contact__icon pe-7s-mail-open"></i>
                        <div class="b-contact__inner">
                            <div class="b-contact__name">email</div>
                            <div class="b-contact__info">jmantilla5@udi.edu.co</div>
                        </div>
                    </div>
                    <!-- end .b-contact-->
                </div>
            </div>
        </div>
    </div>
</main>
