{{#contentFor 'pageStyles'}}
{{/contentFor}}

<main class="l-main-content">
    <section style="margin-top: 80px;" class="section-first section-first_type-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-first__main">
                        <div class="ui-decor-1"></div>
                        <h2 class="ui-title-inner-2" id="revealfx9">We follow intelligent methods to deliver the
                            solutions!</h2>
                        <p>Corem ipsum dolor sit amet consecte adipsicing elit tempor aret dolore magna aliqua ut
                            dolor enim minim beniaps quisa ulamco laborisa tempor sed bceaoan.</p>
                        <p>Tempore laborisa tempor sed bceaoan lorem ipsum dolor sit ipsum dolor consecteuter turs
                            adipisic elit.</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-first__img-group">
                        <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                           href="assets/media/components/section-first/350x380_1.jpg">
                            <figure class="tilter__figure"><img class="img-responsive"
                                                                src="assets/media/components/section-first/350x380_1.jpg"
                                                                alt="foto"/></figure>
                        </a>
                        <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                           href="assets/media/components/section-first/260x300_1.jpg">
                            <figure class="tilter__figure"><img class="img-responsive"
                                                                src="assets/media/components/section-first/260x300_1.jpg"
                                                                alt="foto"/></figure>
                        </a>
                    </div>
                    <div class="section-first__inner">
                        <div class="ui-decor-1 ui-decor-1_sm"></div>
                        <p>Sit amet lorem ipsum dolor sit amet lorem ipsum dolor amet consecte adipisic elit do
                            eiusmod tempor ncididuntut labore eturs dolore magna tae enimad minim ven quis
                            nostrud.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-title-bg">u<span class="shuffle">nited</span></div>
    </section>
    <!-- end .section-first-->
    <section class="section-default bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block" id="revealfx5">The Services !</h2>
                    <div class="ui-subtitle-block">What
                        <br> We offers
                    </div>
                    <div class="owl-carousel owl-theme owl-theme_btm-nav owl-theme_col-w-mrg enable-owl-carousel"
                         data-min480="1" data-min768="2" data-min992="2" data-min1200="3" data-pagination="true"
                         data-navigation="false" data-auto-play="4000" data-stop-on-hover="true">
                        <section class="b-advantages b-advantages-1"><i class="b-advantages__icon pe-7s-arc"></i>
                            <h3 class="b-advantages__title ui-title-inner">Ecommerce Shop</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1 "><i
                                class="b-advantages__icon pe-7s-monitor"></i>
                            <h3 class="b-advantages__title ui-title-inner">web development</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1"><i
                                class="b-advantages__icon pe-7s-umbrella"></i>
                            <h3 class="b-advantages__title ui-title-inner">Brand &amp; Identity</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1"><i class="b-advantages__icon pe-7s-arc"></i>
                            <h3 class="b-advantages__title ui-title-inner">Ecommerce Shop</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1"><i
                                class="b-advantages__icon pe-7s-monitor"></i>
                            <h3 class="b-advantages__title ui-title-inner">web development</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1"><i
                                class="b-advantages__icon pe-7s-umbrella"></i>
                            <h3 class="b-advantages__title ui-title-inner">Brand &amp; Identity</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1"><i class="b-advantages__icon pe-7s-arc"></i>
                            <h3 class="b-advantages__title ui-title-inner">Ecommerce Shop</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1"><i
                                class="b-advantages__icon pe-7s-monitor"></i>
                            <h3 class="b-advantages__title ui-title-inner">web development</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1"><i
                                class="b-advantages__icon pe-7s-umbrella"></i>
                            <h3 class="b-advantages__title ui-title-inner">Brand &amp; Identity</h3>
                            <p class="b-advantages__info">Sit amet lorem ipsum dolor amet lorem ipsum dolor sit amet
                                consectetur adipis eiusmod tempor ncididuntut.</p><a class="btn btn-default"
                                                                                     href="home.html">read more<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-default pruning">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="b-progress-list list-unstyled">
                        <li class="b-progress-list__item" id="revealfx1">
                            <div class="b-progress-list__inner"><span class="b-progress-list__percent js-chart"
                                                                      data-percent="230"><span
                                    class="js-percent"></span></span><span class="b-progress-list__name">Satisfied Clients</span>
                            </div>
                        </li>
                        <li class="b-progress-list__item" id="revealfx2">
                            <div class="b-progress-list__inner"><span class="b-progress-list__percent js-chart"
                                                                      data-percent="407"><span
                                    class="js-percent"></span></span><span
                                    class="b-progress-list__name">Awards Won</span></div>
                        </li>
                        <li class="b-progress-list__item" id="revealfx3">
                            <div class="b-progress-list__inner"><span class="b-progress-list__percent js-chart"
                                                                      data-percent="637"><span
                                    class="js-percent"></span></span><span class="b-progress-list__name">Projectes Delivered</span>
                            </div>
                        </li>
                        <li class="b-progress-list__item" id="revealfx4">
                            <div class="b-progress-list__inner"><span class="b-progress-list__percent js-chart"
                                                                      data-percent="10"><span
                                    class="js-percent"></span><span class="b-progress-list__percent_label">K+</span></span><span
                                    class="b-progress-list__name">Lines of Code</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="section-works">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block" id="revealfx6">Latest Works !</h2>
                    <div class="ui-subtitle-block">What
                        <br> We did
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-works__inner">
                        <ul class="section-works__nav list-unstyled">
                            <li class="active"><a href="#all" data-toggle="tab">all works</a></li>
                            <li><a href="#design" data-toggle="tab">web design</a></li>
                            <li><a href="#photography" data-toggle="tab">photography</a></li>
                            <li><a href="#video" data-toggle="tab">video</a></li>
                            <li><a href="#illustration" data-toggle="tab">illustration</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="all">
                                <h3 class="section-works__title-group">All<span class="shuffle"> Works</span></h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_1.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">beo w. speakers</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_3.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">emma punching</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Web Design
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="design">
                                <h3 class="section-works__title-group">Web Design</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_3.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">emma punching</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Web Design
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_1.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">beo w. speakers</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="photography">
                                <h3 class="section-works__title-group">Photography</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_3.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">emma punching</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Web Design
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_1.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">beo w. speakers</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="video">
                                <h3 class="section-works__title-group">Video</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_1.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">beo w. speakers</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_3.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">emma punching</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Web Design
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                            <div class="tab-pane fade" id="illustration">
                                <h3 class="section-works__title-group">Illustration</h3>
                                <div class="section-works__group">
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_2.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">sav glass bottle</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_3.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">emma punching</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Web Design
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                    <section class="b-works">
                                        <div class="b-works__media"><img class="img-responsive"
                                                                         src="assets/media/components/b-works/450x420_1.jpg"
                                                                         alt="foto"/></div>
                                        <div class="b-works__inner">
                                            <h2 class="b-works__title">beo w. speakers</h2>
                                            <div class="b-works__content">Lorem ipsum dolor sit amet consectetur
                                                adipisic elit do eiusmod tempor enimad sandy minim sed ipsum ven
                                                quis nostrud exercitation.
                                            </div>
                                            <div class="b-works__category">Category: Photography
                                            </div>
                                        </div>
                                    </section>
                                    <!-- end .b-works-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-type-1" href="portfolio.html"><span
                            class="btn-type-1__inner">full portfolio</span><i
                            class="icon fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="b-info b-info_mrg-top">
        <div class="b-info__inner border-l_prim border-r_prim">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="b-info__title">

                            We always Work-Hard to produce the contents which offers the rich experiences for user.

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="b-info__link"><a class="b-info__btn text-primary_h popup-youtube"
                                                     href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i
                                class="icon pe-7s-play"></i>How We Work</a>
                            <div class="b-info__link-bg"><i class="icon pe-7s-video"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end .b-info-->
    <section class="section-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block" id="revealfx7">Our Professionals !</h2>
                    <div class="ui-subtitle-block">team
                        <br> members
                    </div>
                    <div class="owl-carousel owl-theme owl-theme_col-w-mrg enable-owl-carousel" data-min480="1"
                         data-min768="2" data-min992="3" data-min1200="3" data-pagination="true"
                         data-navigation="false" data-auto-play="4000" data-stop-on-hover="true">
                        <section class="b-team">
                            <div class="b-team__media"><img class="img-responsive"
                                                            src="assets/media/components/b-team/300x280_1.jpg"
                                                            alt="Foto"/>
                                <ul class="social-net list-inline">
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="behance.com"><i
                                            class="icon fa fa-behance"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="twitter.com"><i
                                            class="icon fa fa-twitter"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="plus.google.com"><i
                                            class="icon fa fa-google-plus"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="mail.com"><i
                                            class="icon fa fa-envelope"></i></a></li>
                                </ul>
                                <!-- end .social-list-->
                            </div>
                            <div class="b-team__header">
                                <h3 class="b-team__name">mark hamburg</h3>
                                <div class="b-team__category">Ceo &amp; Founder</div>
                            </div>
                            <div class="b-team__description">Sit amet lorem ipsum dolor sit amet lorem conse
                                adipisic eiusmod tempor ncididunt
                            </div>
                        </section>
                        <!-- end .b-team-->
                        <section class="b-team">
                            <div class="b-team__media"><img class="img-responsive"
                                                            src="assets/media/components/b-team/300x280_2.jpg"
                                                            alt="Foto"/>
                                <ul class="social-net list-inline">
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="behance.com"><i
                                            class="icon fa fa-behance"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="twitter.com"><i
                                            class="icon fa fa-twitter"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="plus.google.com"><i
                                            class="icon fa fa-google-plus"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="mail.com"><i
                                            class="icon fa fa-envelope"></i></a></li>
                                </ul>
                                <!-- end .social-list-->
                            </div>
                            <div class="b-team__header">
                                <h3 class="b-team__name">sara anderson</h3>
                                <div class="b-team__category">Programmer</div>
                            </div>
                            <div class="b-team__description">Sit amet lorem ipsum dolor sit amet lorem conse
                                adipisic eiusmod tempor ncididunt
                            </div>
                        </section>
                        <!-- end .b-team-->
                        <section class="b-team">
                            <div class="b-team__media"><img class="img-responsive"
                                                            src="assets/media/components/b-team/300x280_3.jpg"
                                                            alt="Foto"/>
                                <ul class="social-net list-inline">
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="behance.com"><i
                                            class="icon fa fa-behance"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="twitter.com"><i
                                            class="icon fa fa-twitter"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="plus.google.com"><i
                                            class="icon fa fa-google-plus"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="mail.com"><i
                                            class="icon fa fa-envelope"></i></a></li>
                                </ul>
                                <!-- end .social-list-->
                            </div>
                            <div class="b-team__header">
                                <h3 class="b-team__name">tommy jones</h3>
                                <div class="b-team__category">The Designer</div>
                            </div>
                            <div class="b-team__description">Sit amet lorem ipsum dolor sit amet lorem conse
                                adipisic eiusmod tempor ncididunt
                            </div>
                        </section>
                        <!-- end .b-team-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-news">
        <div class="area-bg__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="ui-title-block">Latest News !</h2>
                        <div class="ui-subtitle-block">What
                            <br> We think
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <section class="b-post-1 b-post clearfix">
                            <div class="entry-media">
                                <a class="js-zoom-images  tilter tilter--1"
                                   href="assets/media/content/posts/535x450/1.jpg">

                                    <figure class="tilter__figure">
                                        <img class="img-responsive" src="assets/media/content/posts/535x450/1.jpg"
                                             alt="Foto"/>
                                    </figure>


                                </a>
                            </div>
                            <div class="entry-main">
                                <div class="entry-meta"><span class="entry-meta__item">By:<a
                                        class="entry-meta__link"
                                        href="blog-main.html">&nbsp;Lawrance</a></span><span
                                        class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                            <time datetime="2012-10-27">10 January 2017</time></a></span></div>
                                <div class="entry-header">
                                    <h2 class="entry-title"><a href="blog-post.html">Aon eiusmod tempor
                                        incididunt</a></h2>
                                </div>
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed tempore
                                        incididunt labore dolore magna aliqua enim veniam ...</p>
                                </div>
                                <div class="entry-footer"><a class="btn btn-default" href="blog-post.html">read more<i
                                        class="icon fa fa-long-arrow-right"></i></a></div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <section class="b-post-sm b-post clearfix">
                            <div class="entry-main">
                                <div class="entry-meta"><span class="entry-meta__item">By:<a
                                        class="entry-meta__link"
                                        href="blog-main.html">&nbsp;Lawrance</a></span><span
                                        class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                            <time datetime="2012-10-27">10 January 2017</time></a></span></div>
                                <div class="entry-header">
                                    <h2 class="entry-title"><a href="blog-post.html">Eiusmod tempor incididunt anim
                                        elit manga</a></h2>
                                </div>
                            </div>
                            <div class="entry-media">
                                <a class="js-zoom-images  tilter tilter--1"
                                   href="assets/media/content/posts/263x250/1.jpg">
                                    <figure class="tilter__figure">
                                        <img class="img-responsive" src="assets/media/content/posts/263x250/1.jpg"
                                             alt="Foto"/>
                                    </figure>

                                </a>
                            </div>
                        </section>
                        <!-- end .post-->
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <section class="b-post-sm b-post clearfix">
                            <div class="entry-main">
                                <div class="entry-meta"><span class="entry-meta__item">By:<a
                                        class="entry-meta__link"
                                        href="blog-main.html">&nbsp;Lawrance</a></span><span
                                        class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html">
                            <time datetime="2012-10-27">10 January 2017</time></a></span></div>
                                <div class="entry-header">
                                    <h2 class="entry-title"><a href="blog-post.html">Labore dolore magna aliqua
                                        minim veniam quis</a></h2>
                                </div>
                            </div>
                            <div class="entry-media">
                                <a class="js-zoom-images  tilter tilter--1"
                                   href="assets/media/content/posts/263x250/2.jpg">

                                    <figure class="tilter__figure">
                                        <img class="img-responsive" src="assets/media/content/posts/263x250/2.jpg"
                                             alt="Foto"/>
                                    </figure>

                                </a>
                            </div>
                        </section>
                        <!-- end .post-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><a class="section-news__link btn btn-type-1" href="portfolio.html"><span
                            class="btn-type-1__inner">visit blog</span><i
                            class="icon fa fa-long-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- end .section-news-->
    <div class="section-blockquote-2">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="owl-carousel owl-theme enable-owl-carousel" data-pagination="true"
                         data-navigation="false" data-single-item="true" data-auto-play="7000"
                         data-transition-style="fade" data-main-text-animation="true" data-after-init-delay="3000"
                         data-after-move-delay="1000" data-stop-on-hover="true">
                        <div class="b-blockquote b-blockquote-1">
                            <blockquote>
                                <p> I think your employees would agree that you need to get your financial situation
                                    in control before you can help them. No I'm just saying that, though I really
                                    do, I understand the temptation to restart the business... maybe the universe is
                                    telling you that you need to pay what you owe. </p>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span
                                        class="b-blockquote__author">Jesse Pinkman</span><span
                                        class="b-blockquote__category">Director XYZ Inc.</span></cite>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <blockquote>
                                <p>I would greatly appreciate it if you would just, help me out here. Um, he's fine.
                                    No, absolutely not and I mean to keep it that way, so. Six-hundred and seventeen
                                    thousand dollars written out to me. Uh... what is this? Well, and why is that?
                                    It feels wrong. Uh huh. Well, um... Ted, the whole reason we're in this mess is
                                    because you had me cooking your books. So, when did wrong suddenly become a
                                    problem for you? </p>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span
                                        class="b-blockquote__author">Skyler White</span><span
                                        class="b-blockquote__category">Director XYZ Inc.</span></cite>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <blockquote>
                                <p>Ted, this is the big mistake right here. You owe the federal government
                                    six-hundred and seventeen thousand dollars. If you do not pay them, they will
                                    come after you, and then they will come after me. And if they audit my business,
                                    find out that Walt and I paid for it with close to a million dollars in untaxed
                                    gambling winnings. We will go to prison, where you will already be. Do you
                                    understand? Oh my god, how are you not following me here? </p>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span
                                        class="b-blockquote__author">Tuco Salamanca</span><span
                                        class="b-blockquote__category">Director XYZ Inc.</span></cite>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                    </div>
                    <div class="text-center">
                        <div class="ui-decor-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-brands">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="b-brands owl-carousel owl-theme enable-owl-carousel" data-min480="1" data-min768="3"
                         data-min992="5" data-min1200="5" data-pagination="false" data-navigation="false"
                         data-auto-play="4000" data-stop-on-hover="true">
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-1.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-2.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-3.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-4.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-5.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-1.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-2.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-3.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-4.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="assets/media/components/b-brands/logo-5.png"
                                                         alt="foto"/></div>
                    </div>
                    <!-- end .b-brands-->
                </div>
            </div>
        </div>
    </div>
    <div class="section-social-net text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block">Stay Connected With Us !</h2>
                    <ul class="section-social-net__list list-inline">
                        <li class="section-social-net__item  wow  fadeIn" data-wow-duration="1s"
                            data-wow-delay="0.3s"><a class="section-social-net__link"
                                                     href="facebook.com">facebook</a></li>
                        <li class="section-social-net__item wow  fadeIn" data-wow-duration="1s"
                            data-wow-delay="0.6s"><a class="section-social-net__link" href="twitter.com">twitter</a>
                        </li>
                        <li class="section-social-net__item  wow  fadeIn" data-wow-duration="0.9s"
                            data-wow-delay="0.9s"><a class="section-social-net__link" href="plus.google.com">google
                            +</a></li>
                        <li class="section-social-net__item wow  fadeIn" data-wow-duration="1s"
                            data-wow-delay="1.2s"><a class="section-social-net__link"
                                                     href="pinterest.com">pinterest</a></li>
                        <li class="section-social-net__item wow  fadeIn" data-wow-duration="1s"
                            data-wow-delay="1.5s"><a class="section-social-net__link" href="behance.com">behance</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end .section-social-net-->
</main>