{{#contentFor 'pageStyles'}}
{{/contentFor}}

<main class="l-main-content">
    <section style="margin-top: 80px;" class="section-first section-first_type-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-first__main">
                        <div class="ui-decor-1"></div>
                        <h2 class="ui-title-inner-2" id="revealfx9">Proyecto de grado Blitz!</h2>
                        <p>Bienvenidos al sistema para la captura y monitoreo de los sonidos del corazón del entrenador
                            de evaluación física <a
                                    href="http://www.kokenmpc.co.jp/english/products/life_simulation_models/medical_education/lm-084/index.html"
                                    target="_blank">Koken LM-084</a> para el laboratorio de simulación de la Fundación
                            MEIS.</p>
                        <p>Te invitamos a explorar nuestro proyecto y suscribirse para recibir nuestras últimas
                            novedades.</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-first__img-group">
                        <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                           href="img/fundamies_1.jpg">
                            <figure class="tilter__figure"><img height="380" width="350" class="img-responsive"
                                                                src="img/fundamies_1.jpg"
                                                                alt="foto"/></figure>
                        </a>
                        <a class="section-first__img bg-primary_a tilter tilter--1 js-zoom-images"
                           href="img/kokenlm084.png">
                            <figure class="tilter__figure"><img  width="120" height="221" class="img-responsive"
                                                                src="img/kokenlm084.png"
                                                                alt="foto"/></figure>
                        </a>
                    </div>
                    <div class="section-first__inner">
                        <div class="ui-decor-1 ui-decor-1_sm"></div>
                        <p>El Koken LM-084 es un modelo de torso para la adquisición de las técnicas básicas para la
                            evaluación física (Palpación / Percusión / auscultación), al inflar los pulmones de
                            simulación, puede ser practicado percusión normal y anormal, se puede auscultar sonido
                            respiratorio normal y anormal. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-title-bg">B<span class="shuffle">litz</span></div>
    </section>
    <!-- end .section-first-->
    <section class="section-default bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block" id="revealfx5">Etapas!</h2>
                    <div class="ui-subtitle-block">Como
                        <br> lo hacemos
                    </div>
                    <div class="owl-carousel owl-theme owl-theme_btm-nav owl-theme_col-w-mrg enable-owl-carousel"
                         data-min480="1" data-min768="2" data-min992="2" data-min1200="3" data-pagination="true"
                         data-navigation="false" data-auto-play="4000" data-stop-on-hover="true">
                        <section class="b-advantages b-advantages-1"><i class="b-advantages__icon pe-7s-headphones"></i>
                            <h3 class="b-advantages__title ui-title-inner">Etapa de Captura, adecuación y digitalización
                                de la señal de audio</h3>
                            <p class="b-advantages__info">Mediante un complemento electronico,
                                compuesto por un microfono preamplificado, filtro pasabando y un arduino para
                                digitalizar la señal.</p><a class="btn btn-default"
                                                            href="/about">saber más<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1 "><i
                                class="b-advantages__icon pe-7s-config"></i>
                            <h3 class="b-advantages__title ui-title-inner">Etapa de Descripción de la Señal</h3>
                            <p class="b-advantages__info">Calculos y valores obtenidos mediante computacion en
                                matlab.</p><a class="btn btn-default"
                                                                                     href="/about">saber más<i
                                    class="icon fa fa-long-arrow-right"></i></a>
                        </section>
                        <!-- end .b-advantages-->
                        <section class="b-advantages b-advantages-1"><i
                                class="b-advantages__icon pe-7s-monitor"></i>
                            <h3 class="b-advantages__title ui-title-inner">Sitio web informativo con los resultados.</p>
                                <a class="btn btn-default"
                                   href="/about">saber más<i
                                        class="icon fa fa-long-arrow-right"></i></a>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="b-info b-info_mrg-top">
        <div class="b-info__inner border-l_prim border-r_prim">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="b-info__title">
                            Los resultados que se encuentran en este sitio web fueron obtenidos mediante captura directa
                            del simulador y aqui te mostramos como fue el proceso.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="b-info__link"><a class="b-info__btn text-primary_h popup-youtube"
                                                     href="https://www.youtube.com/watch?v=fkDqFMwyYGc"><i
                                class="icon pe-7s-play"></i>Como funciona la captura de la señal acustica?</a>
                            <div class="b-info__link-bg"><i class="icon pe-7s-video"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end .b-info-->
    <section class="section-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block" id="revealfx7">futuro Ing. de Sistemas!</h2>
                    <div class="ui-subtitle-block">Estudiante
                        <br> UDI
                    </div>
                    <div class="owl-carousel owl-theme owl-theme_col-w-mrg enable-owl-carousel" data-min480="1"
                         data-min768="2" data-min992="3" data-min1200="3" data-pagination="true"
                         data-navigation="false" data-auto-play="4000" data-stop-on-hover="true">
                        <section class="b-team">
                            <div class="b-team__media"><img class="img-responsive"
                                                            src="img/jamc.jpg"
                                                            alt="Foto"/>
                                <ul class="social-net list-inline">
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="https://twitter.com/AlejoJamC"><i
                                            class="icon fa fa-twitter"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="mailto:jmantilla5@udi.edu.co"><i
                                            class="icon fa fa-google-plus"></i></a></li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="mailto:alejandromantilla7@hotmail.com"><i
                                            class="icon fa fa-envelope"></i></a></li>
                                </ul>
                                <!-- end .social-list-->
                            </div>
                            <div class="b-team__header">
                                <h3 class="b-team__name">John Mantilla</h3>
                                <div class="b-team__category">Est. Ingenieria de Sistemas</div>
                            </div>
                            <div class="b-team__description">Software developer, senior student of Systems engineering.
                                Strong interest in BackEnd #NodeJS #dotNet #php and Microservice Architecture
                                https://github.com/AlejoJamC
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-brands">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block" id="revealfx7">Apoya</h2>
                    <div class="b-brands owl-carousel owl-theme enable-owl-carousel" data-min480="1" data-min768="3"
                         data-min992="5" data-min1200="5" data-pagination="false" data-navigation="false"
                         data-auto-play="4000" data-stop-on-hover="true">
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="img/udi.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="img/meis.png"
                                                         alt="foto"/></div>
                        <div class="b-brands__item"><img class="img-responsive center-block"
                                                         src="img/lamuela.png"
                                                         alt="foto"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>