{{#contentFor 'pageStyles'}}
{{/contentFor}}

<header id="masthead" class="site-header">

    <div class="ish-container-fluid">
        <div class="ish-container-inner">
            <div class="ish-row">
                <div class="ish-header">
                    <div class="ish-logo-container ish-txt-color3">
                        <a href="index.html"><span class="ish-logo-box"><span class="ish-logo-middle"><img
                                src="img/logo.svg" class="ish-logo" alt="QUSQ logo"/></span></span></a>
                        <span class="ish-theme-tagline ish-vertical">Unique Portfolio</span>
                    </div>
                    <div class="ish-menu-container ish-txt-color3">
                        <a href="#"><span class="ish-icon-nav"><i class="ish-icon-menu"></i></span><span
                                class="ish-menu-desc ish-vertical">Menu</span></a>
                    </div>
                </div>
                <div class="site-branding">
                    <h1 class="site-title">Want <span>to know</span></h1>
                    <h2 class="site-subtitle">something <span>about me</span>/<span>us</span>?</h2>
                    <p class="site-description">We do whatever we want to be happy in this moment</p>
                </div><!-- .site-branding -->
            </div>
            {{>main/sidebar}}
        </div>
    </div>
    <div class="ish-decor-container">
        <div class="ish-decor-bottom ish-theme-rotate"></div>
    </div>
</header>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="ish-container-fluid">
                <div class="ish-container-inner">
                    <div class="ish-main-content ish-content-parallax">
                        <div class="ish-row ish-bottom-xs">
                            <div class="ish-col-xs-12 ish-col-sm-7">
                                <p>
                                    <a href="{{level}}img/blog14.jpg" class="ish-lightbox ish-img-scale">
                                        <img src="{{level}}img/blog14.jpg" alt="Jordan Burford">
                                    </a>
                                </p>
                            </div>
                            <div class="ish-col-xs-12 ish-col-sm-offset-1 ish-col-sm-4">
                                <h4 class="ish-txt-color5">Jordan Burford</h4>
                                <p>
                                    Leonardo Wilhelm DiCaprio is an American actor and film producer. He has been
                                    nominated for numerous awards, and has won three Golden Globe Awards.
                                </p>
                                <p class="ish-social-box">
                                    <span class="ish-twitter ish-sc-element ish-sc-icon ish-icon-xs"><a href="#"><i
                                            class="ish-icon-twitter"></i></a></span>
                                    <span class="ish-behance ish-sc-element ish-sc-icon ish-icon-xs"><a href="#"><i
                                            class="ish-icon-behance"></i></a></span>
                                    <span class="ish-gplus ish-sc-element ish-sc-icon ish-icon-xs"><a href="#"><i
                                            class="ish-icon-gplus"></i></a></span>
                                    <span class="ish-facebook ish-sc-element ish-sc-icon ish-icon-xs"><a href="#"><i
                                            class="ish-icon-facebook"></i></a></span>
                                </p>
                            </div>
                        </div>
                        <div class="ish-row">
                            <div class="ish-col-xs-12">
                                <h3 class="ish-txt-color17 ish-txt-align-center">
                                    Thus design may be a referring to a categorical abstraction, or a verb for the
                                    process of creation.
                                </h3>
                            </div>
                        </div>
                        <div class="ish-row">
                            <div class="ish-col-xs-12 ish-col-sm-4 ish-txt-align-right">
                                <p>
                                    The film had a difficult production, with various screenwriters and directors
                                    getting involved in the project, and shooting began without a finished script.
                                </p>
                                <p>
                                    Designing often necessitates considering the aesthetic, functional, economic and
                                    sociopolitical dimensions of both the design object and design process.
                                </p>
                            </div>
                            <div class="ish-sc-element ish-sc-gallery ish-col-xs-12 ish-col-sm-offset-1 ish-col-sm-7"
                                 data-rowHeight="200" data-lastRow="nojustify" data-margins="1">
                                <a href="img/blog11.jpg">
                                    <img src="img/blog11.jpg" alt="Happy Girl">
                                </a>
                                <a href="img/blog15.jpg">
                                    <img src="img/blog15.jpg" alt="Gramophone">
                                </a>
                                <a href="img/blog7.jpg">
                                    <img src="img/blog7.jpg" alt="Napkin">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main><!-- #main -->
    </div><!-- #primary -->
</div>

{{#contentFor 'pageScripts'}}
{{/contentFor}}