{{#contentFor 'pageStyles'}}
{{/contentFor}}

<header id="masthead" class="site-header">

    <div class="ish-container-fluid">
        <div class="ish-container-inner">
            <div class="ish-row">
                <div class="ish-header">
                    <!-- Main Logo & Tagline -->
                    <div class="ish-logo-container ish-txt-color3">
                        <a href="index.html"><span class="ish-logo-box"><span class="ish-logo-middle"><img
                                src="img/logo.svg" class="ish-logo" alt="QUSQ logo"/></span></span></a>
                        <span class="ish-theme-tagline ish-vertical">Unique Portfolio</span>
                    </div>
                    <!-- Menu open Button -->
                    <div class="ish-menu-container ish-txt-color3">
                        <a href="#"><span class="ish-icon-nav"><i class="ish-icon-menu"></i></span><span
                                class="ish-menu-desc ish-vertical">Menu</span></a>
                    </div>
                </div>
                <div class="site-branding">
                    <h1 class="site-title"><span>Do you</span> like<br/> <span>what you</span> see<span>?</span></h1>
                    <h2 class="site-subtitle"><span>Let me</span> know <span>&</span> I will <span>try to</span>
                        help<span>!</span></h2>
                    <p class="site-description">Whether you want to just say Hi, ask for quote or follow me online, here
                        you will find all necessary information.</p>
                </div><!-- .site-branding -->
            </div>
            {{>main/sidebar}}
        </div>
    </div>
    <div class="ish-decor-container">
        <div class="ish-decor-bottom ish-theme-rotate"></div>
    </div>
</header>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div id="map" data-map-zoom="11" data-map-lat="49.057375" data-map-lng="19.7294626"
                 data-map-address="Liptovský Hrádok 033 01" data-map-color="#acde61" data-marker-color="#515151"
                 data-marker-scale="1.5"></div>
            <div class="map-marker" data-title="Demänovská cave of Liberty" data-lat="48.9985587" data-lng="19.5836277"
                 data-address="Demänovská Dolina,032 51 Demänovská Dolina">
                <h4>Demänovská cave of Liberty</h4>
                <p>
                    The cave is located 13 km southerly from the city of Liptovský Mikuláš, in the Low Tatras Mts., on
                    the right side of the Demänovská Valley, several kilometers below the known skiing resort Jasná. A
                    serpent path from the parking place to the cave is 400 m long with elevation span of 67m. The ascent
                    to cave takes 10 - 15 min and serves as an educational trail at the same time.
                </p>
            </div>
            <div class="map-marker" data-title="Važecká cave" data-lat="49.0563491" data-lng="19.9698048"
                 data-address="032 61 Važec">
                <h4>Važecká cave</h4>
                <p>
                    Located between Liptovský Mikuláš and Poprad. The cave represents an important palaeontological
                    finding place of cave bear bones (Ursus spelaeus), which was bigger and heavier than present brown
                    bear. The sculpture in life size is newly installed in the cave.
                </p>
            </div>
            <div class="map-marker" data-title="Demänovská Ice Cave" data-lat="49.0160033" data-lng="19.5796424"
                 data-address="031 01 Demänovská Dolina">
                <h4>Demänovská Ice Cave</h4>
                <p>
                    The cave entrance is located in the cliff Bašta on the northern side of the Low Tatras Mts., only
                    two kilometers northerly from the Demänovská Cave of Liberty.
                </p>
            </div>
            <div class="map-marker" data-title="Stanišovská Cave" data-lat="49.0079721" data-lng="19.6748922"
                 data-address="032 03 Liptovský Ján">
                <h4>Stanišovská Cave</h4>
            </div>
            <div class="ish-decor-container">
                <div class="ish-decor-top ish-theme-rotate ish-bg-color4"></div>
            </div>
            <div class="ish-container-fluid ish-bg-color4">
                <div class="ish-container-inner ish-content-parallax" data-parallax-speed="0.8">
                    <div class="ish-main-content">
                        <div class="ish-row ish-bottom-xs">
                            <div class="ish-col-xs-12 ish-col-sm-6 ish-contact-info-container ">
                                <div class="ish-contact-info-box">
                                    <div class="ish-row">
                                        <div class="ish-contact-info-text ish-col-xs-12 ish-col-md-9 ish-txt-align-right ish-txt-color14">
                                            Feel free to contact me if you find something interesting here to discuss.
                                            I’m usually available from 5am till 3pm.
                                        </div>
                                    </div>
                                    <div class="ish-row">
                                        <div class="ish-contact-info-text ish-txt-align-right ish-col-xs-12 ish-col-sm-10 ish-col-md-8">
                                            La Concha<br/>
                                            Sierra Blanca (Marbella)<br/>
                                            Spain 98765
                                        </div>
                                        <div class="ish-contact-info-icon ish-col-xs-12 ish-col-sm-2 ish-first-xs ish-last-sm ish-txt-color14">
                                            <i class="ish-icon-home"></i>
                                        </div>
                                    </div>
                                    <div class="ish-row">
                                        <div class="ish-contact-info-text ish-txt-align-right ish-col-xs-12 ish-col-sm-10 ish-col-md-8">
                                            +421 987 654 321
                                        </div>
                                        <div class="ish-contact-info-icon ish-col-xs-12 ish-col-sm-2 ish-first-xs ish-last-sm ish-txt-color14">
                                            <i class="ish-icon-phone"></i>
                                        </div>
                                    </div>
                                    <div class="ish-row">
                                        <div class="ish-contact-info-text ish-txt-align-right ish-col-xs-12 ish-col-sm-10 ish-col-md-8">
                                            qusq@ishyoboy.com
                                        </div>
                                        <div class="ish-contact-info-icon ish-col-xs-12 ish-col-sm-2 ish-first-xs ish-last-sm ish-txt-color14">
                                            <i class="ish-icon-mail"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ish-contact-form-container ish-col-xs-12 ish-col-sm-6">
                                <div class="ish-contact-form-box">
                                    <form name="ish-contact-form" action="ajax.php" id="ish-contact-form" method="post">
                                        <h3>Send a Message</h3>
                                        <p>
                                            <input type="text" name="name" id="ish-cf-name" class="required"
                                                   placeholder="Name"/>
                                        </p>
                                        <p>
                                            <input type="email" name="email" id="ish-cf-email" class="required"
                                                   placeholder="Email"/>
                                        </p>
                                        <p>
                                            <input type="url" name="web" id="ish-cf-web" class="" placeholder="Web"/>
                                        </p>
                                        <p>
                                            <textarea name="text" id="ish-cf-message" class="required"
                                                      placeholder="Message"></textarea>
                                        </p>
                                        <p>
                                            <input type="hidden" name="action" value="contactForm"/>
                                            <button type="submit" name="send" id="send">Send <i
                                                    class="ish-icon-angle-double-right"></i></button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="ish-social-box ish-row ish-center-xs">
								<span class="ish-col-xs-4 ish-col-sm-1 ish-sc-element ish-sc-icon ish-icon-medium ish-twitter">
									<a href="#"><i class="ish-icon-twitter"></i></a>
								</span>
                            <span class="ish-col-xs-4 ish-col-sm-1 ish-sc-element ish-sc-icon ish-icon-medium ish-behance">
									<a href="#"><i class="ish-icon-behance"></i></a>
								</span>
                            <span class="ish-col-xs-4 ish-col-sm-1 ish-sc-element ish-sc-icon ish-icon-medium ish-dribbble">
									<a href="#"><i class="ish-icon-dribbble"></i></a>
								</span>
                            <span class="ish-col-xs-4 ish-col-sm-1 ish-sc-element ish-sc-icon ish-icon-medium ish-instagram">
									<a href="#"><i class="ish-icon-instagram"></i></a>
								</span>
                            <span class="ish-col-xs-4 ish-col-sm-1 ish-sc-element ish-sc-icon ish-icon-medium ish-gplus">
									<a href="#"><i class="ish-icon-gplus"></i></a>
								</span>
                            <span class="ish-col-xs-4 ish-col-sm-1 ish-sc-element ish-sc-icon ish-icon-medium ish-facebook">
									<a href="#"><i class="ish-icon-facebook"></i></a>
								</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{{#contentFor 'pageScripts'}}
{{/contentFor}}