{{#contentFor 'pageStyles'}}
{{/contentFor}}

{{#contentFor 'headerText'}}
    <div class="site-branding">
        <h1 class="site-title">When <span>Love</span><br> &amp; <span>Passion</span> meet</h1>
        <h2 class="site-subtitle">beautiful <span>things</span> start to <span>work</span>!</h2>
        <p class="site-description"><span>You don't believe?</span></p>
    </div><!-- .site-branding -->
{{/contentFor}}

<div id="content" class="site-content ish-content-parallax">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <!-- CONTENT GOES HERE -->
            <div class="ish-container-fluid">
                <div class="ish-container-inner">
                    <div class="ish-main-content ish-pflo-gal ish-scroll-anim ish-2col">
                        <div class="ish-item">
                            <div class="ish-item-container">
                                <div class="ish-caption-container">
                                    <div class="ish-caption">
                                        <span class="ish-h4 ish-txt-color7">Octopus</span> <span
                                            class="ish-separator">/</span> <span>Illustartion</span></div>
                                </div>
                                <div class="ish-img"><a href="portfolio-detail-left.html" class="ish-img-scale"
                                                        data-sub-html="Octopus"><img src="img/blog6.jpg"
                                                                                     alt="Octopus"></a></div>
                            </div>
                        </div>
                        <div class="ish-item">
                            <div class="ish-item-container">
                                <div class="ish-caption-container">
                                    <div class="ish-caption">
                                        <span class="ish-h4 ish-txt-color19">Mask</span> <span
                                            class="ish-separator">/</span> <span>Illustartion</span></div>
                                </div>
                                <div class="ish-img"><a href="portfolio-detail-right.html" class="ish-img-scale"
                                                        data-sub-html="Mask"><img src="img/blog10_h.jpg" alt="Mask"></a>
                                </div>
                            </div>
                        </div>
                        <div class="ish-item">
                            <div class="ish-item-container">
                                <div class="ish-caption-container">
                                    <div class="ish-caption">
                                        <span class="ish-h4 ish-txt-color9">Capri</span> <span
                                            class="ish-separator">/</span> <span>Motion</span></div>
                                </div>
                                <div class="ish-img"><a href="portfolio-detail-default.html" class="ish-img-scale"
                                                        data-sub-html="Capri"><img src="img/blog9.jpg" alt="Capri"></a>
                                </div>
                            </div>
                        </div>
                        <div class="ish-item">
                            <div class="ish-item-container">
                                <div class="ish-caption-container">
                                    <div class="ish-caption">
                                        <span class="ish-h4 ish-txt-color13">Geep</span> <span
                                            class="ish-separator">/</span> <span>Print</span></div>
                                </div>
                                <div class="ish-img"><a href="portfolio-detail-left.html" class="ish-img-scale"
                                                        data-sub-html="Geep"><img src="img/blog3.jpg"
                                                                                  alt="Geep"></a></div>
                            </div>
                        </div>
                        <div class="ish-item">
                            <div class="ish-item-container">
                                <div class="ish-caption-container">
                                    <div class="ish-caption">
                                        <span class="ish-h4 ish-txt-color11">Julian Burford</span> <span
                                            class="ish-separator">/</span> <span>Logo</span></div>
                                </div>
                                <div class="ish-img"><a href="portfolio-detail-right.html" class="ish-img-scale"
                                                        data-sub-html="Julian Burford"><img src="img/blog14.jpg"
                                                                                            alt="Julian Burford"></a>
                                </div>
                            </div>
                        </div>
                        <div class="ish-item">
                            <div class="ish-item-container">
                                <div class="ish-caption-container">
                                    <div class="ish-caption">
                                        <span class="ish-h4 ish-txt-color20">Seduction</span> <span
                                            class="ish-separator">/</span> <span>Print</span></div>
                                </div>
                                <div class="ish-img"><a href="portfolio-detail-default.html" class="ish-img-scale"
                                                        data-sub-html="Seduction"><img src="img/blog4.jpg"
                                                                                       alt="Seduction"></a></div>
                            </div>
                        </div>
                        <div class="ish-item">
                            <div class="ish-item-container">
                                <div class="ish-caption-container">
                                    <div class="ish-caption">
                                        <span class="ish-h4 ish-txt-color21">Record Player</span> <span
                                            class="ish-separator">/</span> <span>Motion</span></div>
                                </div>
                                <div class="ish-img"><a href="portfolio-detail-left.html" class="ish-img-scale"
                                                        data-sub-html="Record Player"><img src="img/blog15.jpg"
                                                                                           alt="Record Player"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{{#contentFor 'pageScripts'}}
{{/contentFor}}