<!-- Loader-->
<div class="screen-loader">
    <div class="loading">
            <span class="loader_span">
            <span class="loader_right"></span>
            <span class="loader_left"></span>
            </span>
    </div>

    <span class="loader-text shuffle">Cargando...</span>


    <div class="sl-top"></div>
    <div class="sl-bottom"></div>
</div>
<!-- Loader end-->