
<!-- ==========================-->
<!-- MOBILE MENU-->
<!-- ==========================-->
<div data-off-canvas="mobile-slidebar left overlay">
    <ul class="yamm main-menu nav navbar-nav">
        <li><a href="/content">Lista</a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</div>
<!-- ==========================-->
<!-- FULL SCREEN MENU-->
<!-- ==========================-->
<div class="wrap-fixed-menu" id="fixedMenu">
    <nav class="fullscreen-center-menu">
        <div class="menu-main-menu-container">
            <ul class="nav navbar-nav">
                <li><a href="/content">Lista</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
    <button type="button" class="fullmenu-close"><i class="fa fa-times"></i></button>
</div>