<!-- ==========================-->
<!-- SEARCH MODAL-->
<!-- ==========================-->
<div class="header-search open-search">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="navbar-search">
                    <form class="search-global">
                        <input class="search-global__input" type="text" placeholder="Type to search"
                               autocomplete="off" name="s" value=""/>
                        <button class="search-global__btn"><i class="icon stroke icon-Search"></i>
                        </button>
                        <div class="search-global__note">Begin typing your search above and press return to
                            search.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="search-close close" type="button"><i class="fa fa-times"></i>
    </button>
</div>